.loader-gif {
  position: absolute;   
  top: 50%;             
  left: 50%;            
  transform: translate(-50%, -50%); 
  width: 400px;         
  height: 400px;
  object-fit: contain;
}


.cargando-texto {
  position: relative; 
  z-index: 10;        
  margin-top: 200px;  
  text-align: center;
  color: #ea580c;     
  font-size: 1.25rem; 
  font-weight: 600;  
}
